canvas {
  border: solid gray 2px;
  cursor: crosshair;
  border-radius: 5px;
  margin: 2px;
}

.btn {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 20px;
  margin-bottom: 3px;
}

.tool-btn-box {
  position: relative;
}
.tool {
  display: none;
}
.tools-box {
  position: absolute;
  left: 30%;
  bottom: 5%;
  display: flex;
}
.draw-box {
  display: inline;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
